﻿      <section class="sec_book">
        <a name="books" id="books"></a>
        <!--book-->
        <h2><img src="assets/book_title.jpg" alt="本・書籍ランキングBEST10" class="mtb-15" /></h2>
        <div id="book_area" class="ranking_detail">
          <div class=update_caption>
            <span>タイトルおよび詳細ボタンをクリックすると詳細をご覧になれます。</span>
            <span>※2021年05月13日更新</span>
          </div>
          <!--book ranking-->
          <table>
            <tr class="head">
              <th>順位</th>
              <th>推移</th>
              <th></th>
              <th>タイトル</th>
              <th>著者</th>
              <th>出版社</th>
              <th>詳細</th>
            </tr>
            <tr class="odd">
              <td><img src="assets/1.gif" alt="本・書籍ランキング第1位" /></td>
              <td class="stay"><font><b>→</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g19885913/" target="_blank"><img src="images/book/01.jpg" alt="書籍ランキング第1位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g19885913/" target="_blank">52ヘルツのクジラたち</a></td>
              <td>町田そのこ</td>
              <td class="f10">中央公論新社</td>
              <td><a href="https://www.honyaclub.com/shop/g/g19885913/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="even">
              <td><img src="assets/2.gif" alt="本・書籍ランキング第2位" /></td>
              <td class="up"><font><b>↑</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20220360/" target="_blank"><img src="images/book/02.jpg" alt="書籍ランキング第2位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20220360/" target="_blank">白鳥とコウモリ</a></td>
              <td>東野圭吾</td>
              <td class="f10">幻冬舎</td>
              <td><a href="https://www.honyaclub.com/shop/g/g20220360/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="odd">
              <td><img src="assets/3.gif" alt="本・書籍ランキング第3位" /></td>
              <td class="up"><font><b>↑</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g19692108/" target="_blank"><img src="images/book/03.jpg" alt="書籍ランキング第3位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g19692108/" target="_blank">人は話し方が9割</a></td>
              <td>永松茂久</td>
              <td class="f10">すばる舎</td>
              <td><a href="https://www.honyaclub.com/shop/g/g19692108/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="even">
              <td><img src="assets/4.gif" alt="本・書籍ランキング第4位" /></td>
              <td class="up"><font><b>↑</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20232251/" target="_blank"><img src="images/book/04.jpg" alt="書籍ランキング第4位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20232251/" target="_blank">名探偵コナン 緋色の弾丸</a></td>
              <td>水稀しま</td>
              <td class="f10">小学館</td>
              <td><a href="https://www.honyaclub.com/shop/g/g20232251/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="odd">
              <td><img src="assets/5.gif" alt="本・書籍ランキング第5位" /></td>
              <td class="new"><font><b>NEW</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20080635/" target="_blank"><img src="images/book/05.jpg" alt="書籍ランキング第5位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20080635/" target="_blank">スマホ脳</a></td>
              <td>アンダース・ハンセン</td>
              <td class="f10">新潮社</td>
              <td><a href="https://www.honyaclub.com/shop/g/g20080635/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="even">
              <td><img src="assets/6.gif" alt="本・書籍ランキング第6位" /></td>
              <td class="new"><font><b>NEW</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g19938207/" target="_blank"><img src="images/book/06.jpg" alt="書籍ランキング第6位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g19938207/" target="_blank">本当の自由を手に入れるお金の大学</a></td>
              <td>両@リベ大学長</td>
              <td class="f10">朝日新聞出版</td>
              <td><a href="https://www.honyaclub.com/shop/g/g19938207/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="odd">
              <td><img src="assets/7.gif" alt="本・書籍ランキング第7位" /></td>
              <td class="up"><font><b>↑</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20187724/" target="_blank"><img src="images/book/07.jpg" alt="書籍ランキング第7位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20187724/" target="_blank">鬼滅の刃塗絵帳ー蒼ー</a></td>
              <td>吾峠呼世晴</td>
              <td class="f10">集英社</td>
              <td><a href="https://www.honyaclub.com/shop/g/g20187724/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="even">
              <td><img src="assets/8.gif" alt="本・書籍ランキング第8位" /></td>
              <td class="new"><font><b>NEW</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20225992/" target="_blank"><img src="images/book/08.jpg" alt="書籍ランキング第8位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20225992/" target="_blank">マジキプリンセス</a></td>
              <td></td>
              <td class="f10">デアゴスティーニ・ジャパン</td>
              <td><a href="https://www.honyaclub.com/shop/g/g20225992/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="odd">
              <td><img src="assets/9.gif" alt="本・書籍ランキング第9位" /></td>
              <td class="new"><font><b>NEW</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20150444/" target="_blank"><img src="images/book/09.jpg" alt="書籍ランキング第9位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20150444/" target="_blank">眼圧リセット</a></td>
              <td>清水ろっかん</td>
              <td class="f10">飛鳥新社</td>
              <td><a href="https://www.honyaclub.com/shop/g/g20150444/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
            <tr class="even">
              <td><img src="assets/10.gif" alt="本・書籍ランキング第10位" /></td>
              <td class="new"><font><b>NEW</b></font></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20220312/" target="_blank"><img src="images/book/10.jpg" alt="書籍ランキング第10位" /></a></td>
              <td><a href="https://www.honyaclub.com/shop/g/g20220312/" target="_blank">ふしぎ駄菓子屋銭天堂 15</a></td>
              <td>廣嶋玲子</td>
              <td class="f10">偕成社</td>
              <td><a href="https://www.honyaclub.com/shop/g/g20220312/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
            </tr>
          </table>
          <br />
        </div>
      </section>
      
