/* CSS Document */

/*コンテンツエリア*/
#image_area { width: 802px; margin-right: auto; margin-left: auto; text-align: center; }

#contArea { display: block; width: 790px; margin-right: auto; margin-left: auto; padding: 0px; margin-top: 0px; margin-bottom: 0px; }
#contArea:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#t_mainArea {
	width:790px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-image: url(../../images/main_bg.gif);
	background-repeat: repeat-y;
	background-position: top;
	color: #000000;
	font-weight: normal;
	letter-spacing: -0.03em;
	margin-bottom: 30px;
}

#update {
	background-color: #EEF1F4;
	text-align: right;
	height: 16px;
	width: 555px;
	font-size: 12px;
	color: #333333;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-right: 5px;
}

div#mainArea td { margin-left: 7px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 7px; line-height: 120%; }

#left410 { float: left; width: 410px; }
#right150 { float: right; width: 150px; }

#leftMenu dd a.menu1 {
	display:block;
	width:170px;
	height:36px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #000000;
	background-image: url(../../event/images/navi/event_bt.gif);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
}

#leftMenu a.menu1:hover { background:url(../../event/images/navi/event_bt_on.gif) left top no-repeat;	display: block; }

#leftMenu dd a.menu2 {
	display:block;
	width:170px;
	height:32px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../../event/images/navi/backnum_bt.gif);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
}

#leftMenu a.menu2:hover { background:url(../../event/images/navi/backnum_bt_on.gif) left top no-repeat;	display: block; }

#leftMenu p { color: #0066FF; }

#banner { width: 190px; background-image: url(../images/navi/banner_bg.gif); background-repeat: repeat-y; background-position: top; }
#banner li { list-style-type: none; margin: 0px; padding: 0px; }
#banner p  { line-height: 140%; color: #666666; text-align: left; width: 170px; margin-right: auto; margin-left: auto; }
#banner p.f11_CC3300 { color: #CC3300; font-size: 11px; padding-top: 5px; padding-bottom: 5px; }
#banner p.f10 { color: #666666; font-size: 10px; padding-top: 5px; padding-bottom: 7px; }
#banner2 { width: 190px; background-image: url(../images/navi/banner_bg.gif); background-repeat: repeat-y; background-position: top; margin-top: 15px; }
#banner2 li { list-style-type: none; margin: 0px; padding: 0px; }

h3 	 { font-size: 12px; padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px; }
#area570 { width: 570px; margin-right: auto; margin-left: auto; margin-bottom: 10px; }
#area760 { width: 760px; margin-right: auto; margin-left: auto; margin-bottom: 10px; }
#area750 { width: 750px; margin-right: auto; margin-left: auto; margin-bottom: 10px; }

.navi-box { width: 280px; margin-top: 15px; font-size: 12px; line-height: 140%; padding: 0px; border: 1px solid #CCCCCC; float: left; }
.navi-box p { padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.navi-box p img { margin-right: 0px; margin-left: 0px; margin-top: 0px; margin-bottom: 7px; padding: 0px; }
.navi-box_r {
	width: 280px;
	margin-top: 15px;
	font-size: 12px;
	line-height: 140%;
	text-align: left;
	padding: 0px;
	border: 1px solid #CCCCCC;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: right;
}

.navi-box_r p { padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.navi-box-c {
	width: 280px;
	margin-top: 15px;
	font-size: 12px;
	line-height: 140%;
	text-align: left;
	padding: 0px;
	border: 1px solid #CCCCCC;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.leftBox { float: left; margin-top: 7px; margin-bottom: 7px; padding-left: 7px; padding-right: 7px; }
.rightBox { float: right; width: 140px; margin-top: 7px; margin-bottom: 7px; padding-right: 7px; }
strong { font-weight: normal; }
ol { line-height: 160%; color: #666666; padding-left: 20px; }
#online { background-image: url(../images/navi/menu_bg2.jpg); background-repeat: no-repeat; background-position: 0px 0px; width: 190px; }

table#search { margin: 0px; padding: 0px; }
table#search td { margin: 0px; padding: 0px; }
table#manual { padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 8px; }
table#manual td { margin: 0px; padding: 0px; }
table#manual td p { padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.question {
	height: 25px;
	width: 510px;
	background-image: url(../../faq/images/q_bg.gif);
	padding-top: 10px;
	padding-left: 50px;
	color: #224D93;
	font-weight: bolder;
	margin-bottom: 16px;
	font-size: 13px;
}

.answer { width: 560px; }
.answer_r { width: 485px; float: right; line-height: 160%; color: #333333; padding-top: 8px; }
table#cont_block td { margin: 0px; padding: 0px; }
.mtb-15 { margin-top: 15px; margin-bottom: 15px; }

h4 {
	height: 44px;
	margin-top: 15px;
}
.ranking_detail {
	margin: 0 auto 15px;
}
.update_caption {
	display:-webkit-box;
  	display:-ms-flexbox;
	display: flex;
	padding: 0 12px;
	box-sizing: border-box;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
tr.head {
	background: #4F88BB;
	box-sizing: border-box;
}
tr.head th {
	padding: 3px;
	font-weight: bolder;
	color: #FFFFFF;
}
tr.head th:first-child {
	width: 6%;
}
tr.head th:nth-child(2) {
	width: 6%;
}
tr.head th:nth-child(3) {
	width: 7.5%;
}
tr.head th:nth-child(4) {
	width: 42%;
}
tr.head th:nth-child(n+5):nth-child(-n+6) {
	width: 14%;
}
tr.head th:last-child {
	width: 11.5%;
}
tr.odd {
	background-color: #EEF7FF;
}
tr.even {
	background-color: #FFF;
}
tr.odd td:nth-child(-n+3),
tr.even td:nth-child(-n+3){
	text-align: center;
}
tr.odd td:nth-child(3) img,
tr.even td:nth-child(3) img {
	width: 100%;
	
}
tr.odd td:nth-child(n+4):nth-child(-n+6),
tr.even td:nth-child(n+4):nth-child(-n+6){
	padding-left: 10px;
}
tr.odd td:last-child,
tr.even td:last-child{
	padding: 0 5px;
}
#cds_area tr.head th:nth-child(3),
#cda_area tr.head th:nth-child(3),
#dvd_area tr.head th:nth-child(3),
#game_area tr.head th:nth-child(3) {
	width: 10%;
}
#cds_area tr.head th:nth-child(4), 
#cda_area tr.head th:nth-child(4),
#dvd_area tr.head th:nth-child(4) {
	width: 30%;
}
#cds_area tr.head th:nth-child(5),
#cda_area tr.head th:nth-child(5),
#dvd_area tr.head th:nth-child(5){
	width: 39%;
}
#cds_area tr.head th:nth-child(6),
#cda_area tr.head th:nth-child(6),
#dvd_area tr.head th:nth-child(6){
	width: 9%;
}
#cds_area tr td:nth-child(6),
#cda_area tr td:nth-child(6),
#dvd_area tr td:nth-child(6){
	padding-left: 0;
	padding-left: 5px;
}
#game_area tr.head th:nth-child(4) {
	width: 10%;
}
#game_area tr.head th:nth-child(5) {
	width: 48%;
}
#game_area tr.head th:nth-child(6) {
	width: 20%;
}
#game_area tr td:nth-child(4) {
	text-align: center;
	padding-left: 0;
}
td.new font,
td.up font {
	color: #FF8119;
} 
td.stay font,
td.down font {
	color: #006010;
}




