      <a name="books" id="books"></a>
      <!--book-->
      <div id="books_area" class="ranking_detail">
        <h2><img src="assets/book_title.jpg" alt="本・書籍ランキングBEST10" class="mb-15" /></h2>
        <div class=update_caption>
            <span>タイトルおよび詳細ボタンをクリックすると詳細をご覧になれます。</span>
            <span>※2020年04月10日更新</span>
         </div>
        <!--bool ranking-->
          <table>
          <tr class="head">
            <th>順位</th>
            <th>推移</th>
            <th></th>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th>詳細</th>
          </tr>

          <tr class="odd">
            <td><img src="images/1.gif" alt="本・書籍ランキング第1位"/></td>
            <td class="stay"><font><b>&rarr;</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19761109/" target="_blank"><img src="images/book/200327/1.jpg" alt="書籍ランキング第1位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19761109/" target="_blank">鋼鉄の法</a></td>
            <td>大川隆法</td>
            <td class="f10">幸福の科学出版</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19761109/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>
          <tr class="even">
            <td><img src="images/2.gif" alt="本・書籍ランキング第2位"/></td>
            <td class="new"><font><b>NEW</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19864338/" target="_blank"><img src="images/book/book2.jpg" alt="書籍ランキング第2位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19864338/" target="_blank">転生したらスライムだった件 16</a></td>
            <td>伏瀬</td>
            <td class="f10">マイクロ</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19864338/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>
          <tr class="odd">
            <td><img src="images/3.gif" alt="本・書籍ランキング第3位"/></td>
            <td class="up"><font><b>↑</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19638389/" target="_blank"><img src="images/book/200327/4.jpg" alt="書籍ランキング第3位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19638389/" target="_blank">ぼくはイエローでホワイトで、ちょっとブルー</a></td>
            <td>ブレイディみかこ</td>
            <td class="f10">新潮社</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19638389/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>
          <tr class="even">
            <td><img src="images/4.gif" alt="本・書籍ランキング第4位"/></td>
            <td class="up"><font><b>↑</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19522720/" target="_blank"><img src="images/book/200327/7.jpg" alt="書籍ランキング第4位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19522720/" target="_blank">鬼滅の刃 しあわせの花</a></td>
            <td>吾峠呼世晴</td>
            <td class="f10">集英社</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19522720/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>

          <tr class="odd">
            <td><img src="images/5.gif" alt="本・書籍ランキング第5位"/></td>
            <td class="stay"><font><b>&rarr;</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19719347/" target="_blank"><img src="images/book/200327/5.jpg" alt="書籍ランキング第5位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19719347/" target="_blank">鬼滅の刃 片羽の蝶</a></td>
            <td>吾峠呼世晴</td>
            <td class="f10">集英社</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19719347/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>
          <tr class="even">
            <td><img src="images/6.gif" alt="本・書籍ランキング第6位"/></td>
            <td class="down"><font><b>↓</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19852446/" target="_blank"><img src="images/book/200327/3.jpg" alt="書籍ランキング第6位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19852446/" target="_blank">クスノキの番人</a></td>
            <td>東野圭吾</td>
            <td class="f10">実業之日本社</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19852446/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>
          <tr class="odd">
            <td><img src="images/7.gif" alt="本・書籍ランキング第7位"/></td>
            <td class="new"><font><b>NEW</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19868195/" target="_blank"><img src="images/book/book7.jpg" alt="書籍ランキング第7位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19868195/" target="_blank">ONE PIECE novel LAW</a></td>
            <td>尾田栄一郎</td>
            <td class="f10">集英社</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19868195/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る" /></a></td>
          </tr>
          <tr class="even">
            <td><img src="images/8.gif" alt="本・書籍ランキング第8位"/></td>
            <td class="new"><font><b>NEW</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19866664/" target="_blank"><img src="images/book/book8.jpg" alt="書籍ランキング第8位" /></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19866664/" target="_blank">ほむら先生はたぶんモテない 3</a><a href="https://www.honyaclub.com/shop/g/g19483613/" target="_blank"></a></td>
            <td>せかねこ</td>
            <td class="f10">KADOKAWA</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19866664/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>
          <tr class="odd">
            <td><img src="images/9.gif" alt="本・書籍ランキング第9位"/></td>
            <td class="new"><font><b>NEW</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19864123/" target="_blank"><img src="images/book/book9.jpg" alt="書籍ランキング第9位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19864123/" target="_blank">まいあ 5</a></td>
            <td>有吉京子</td>
            <td class="f10">平凡社</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19864123/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"></a></td>
          </tr>
          <tr class="even">
            <td><img src="images/10.gif" alt="本・書籍ランキング第10位"/></td>
            <td class="new"><font><b>NEW</b></font></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19692108/" target="_blank"><img src="images/book/book10.jpg" alt="書籍ランキング第10位"/></a></td>
            <td><a href="https://www.honyaclub.com/shop/g/g19692108/" target="_blank">人は話し方が9割</a></td>
            <td>永松茂久</td>
            <td class="f10">すばる舎</td>
            <td><a href="https://www.honyaclub.com/shop/g/g19692108/" target="_blank"><img src="assets/more.jpg" alt="この本の詳細を見る"/></a></td>
          </tr>
        </table>
      </div>
