  <div id="#book_area">
    <h2><a href="ranking/index.html#book"><img src="images/book_best3.jpg" alt="積文館書店 本・書籍ランキングBEST3" class="mt-15"/></a></h2>
    <div class="best3_area">
      <ul>
        <li>
          <div class="thumb">
            <a href="https://www.honyaclub.com/shop/g/g19887287/" target="_blank">
              <p class="ranking_best3 book">BEST<span>1</span></p>
              <img src="../ranking/images/book/01.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19887287/" target="_blank">幸福の花束</a></h3>
            <span>創価学会婦人部 </span>
            <span>税込：750円</span>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="https://www.honyaclub.com/shop/g/g19522720/" target="_blank">
              <p class="ranking_best3 book">BEST<span>2</span></p>
              <img src="../ranking/images/book/02.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19522720/" target="_blank">鬼滅の刃 しあわせの花</a></h3>
            <span>吾峠呼世晴</span>
            <span>税込：770円</span>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="https://www.honyaclub.com/shop/g/g19719347/" target="_blank">
              <p class="ranking_best3 book">BEST<span>3</span></p>
              <img src="../ranking/images/book/03.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19719347/" target="_blank">鬼滅の刃 片羽の蝶</a></h3>
            <span>吾峠呼世晴</span>
            <span>税込：770円</span>
          </div>
        </li>
      </ul>
      <a class="more_btn" href="ranking/index.html#books">
        <img src="images/ranking_bt.jpg" alt="積文館書店 オススメ書籍ランキングをもっと見る"/>
      </a>
    </div>
  </div>

  <div id="#cd_area">
    <h2><a href="ranking/index.html#cds"><img src="images/cd_best3.jpg" alt="積文館書店 CDランキングBEST3"  class="mt-15"/></a></h2>
    <div class="best3_area">
      <img src="images/cd_single.jpg" alt="CDシングルランキング" class="mb-10" />
      <ul>
        <li>
          <div class="thumb cd">
            <a href="https://www.honyaclub.com/shop/g/g19781704/" target="_blank">
              <p class="ranking_best3 cd">BEST<span>1</span></p>
              <img src="../ranking/images/cds/01.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19781704/" target="_blank">I LOVE...</a></h3>
            <span>Official髭男dism</span>
            <span>税込：770円</span>
          </div>
        </li>
        <li>
          <div class="thumb cd">
            <a href="https://www.honyaclub.com/shop/g/g19805402/" target="_blank">
              <p class="ranking_best3 cd">BEST<span>2</span></p>
              <img src="../ranking/images/cds/02.jpg" alt="">
            </a>
          </div>
          <div class="text">
      <h3><a href="https://www.honyaclub.com/shop/g/g19805402/" target="_blank">しあわせの保護色(A)</a></h3>
      <span>乃木坂46</span>
      <span>税込：1,900円</span>
      </div>
        </li>
        <li>
          <div class="thumb cd">
            <a href="https://www.honyaclub.com/shop/g/g19733655/" target="_blank">
              <p class="ranking_best3 cd">BEST<span>3</span></p>
              <img src="../ranking/images/cds/03.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19733655/" target="_blank">D.D./Imitation Rain(DVD付)[初回限定版]</a></h3>
            <span>Snow Man vs SixTONES</span>
            <span>税込：1,760円</span>
          </div>
        </li>
      </ul>
      <a class="more_btn" href="ranking/index.html#cds">
        <img src="images/ranking_bt.jpg" alt="積文館書店 オススメCDシングルランキングをもっと見る"/>
      </a>
    </div>
    <div class="best3_area">
      <img src="images/cd_album.jpg" alt="CDアルバムランキング" class="mb-10" />
      <ul>
        <li>
          <div class="thumb cd">
            <a href="https://www.honyaclub.com/shop/g/g19792663/" target="_blank">
              <p class="ranking_best3 cd">BEST<span>1</span></p>
              <img src="../ranking/images/cda/01.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19792663/" target="_blank">YOUR STORY</a></h3>
            <span>JUJU</span>
            <span>税込：3,960円</span>
          </div>
        </li>
        <li>
          <div class="thumb cd">
            <a href="https://www.honyaclub.com/shop/g/g19672677/" target="_blank">
              <p class="ranking_best3 cd">BEST<span>2</span></p>
              <img src="../ranking/images/cda/02.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19672677/" target="_blank">Traveler(通常盤)</a></h3>
            <span>Official髭男dism</span>
            <span>税込：3,080円</span>
          </div>
        </li>
        <li>
          <div class="thumb cd">
            <a href="https://www.honyaclub.com/shop/g/g19792662/" target="_blank">
              <p class="ranking_best3 cd">BEST<span>3</span></p>
              <img src="../ranking/images/cda/03.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19792662/" target="_blank">YOUR STORY(DVD付)[初回限定版]</a></h3>
            <span>JUJU</span>
            <span>税込：5,280円</span>
          </div>
        </li>
      </ul>
      <a class="more_btn" href="ranking/index.html#cda">
        <img src="images/ranking_bt.jpg" alt="積文館書店 オススメCDアルバムランキングをもっと見る"/>
      </a>
    </div>
  </div>

  <div id="#dvd_area">
    <h2><a href="ranking/index.html#book"><img src="images/dvd_best3.jpg" alt="積文館書店 DVDランキングBEST3" class="mt-15"/></a></h2>
    <div class="best3_area">
      <ul>
        <li>
          <div class="thumb dvd">
            <a href="https://www.honyaclub.com/shop/g/g19844501/" target="_blank">
              <p class="ranking_best3 dvd">BEST<span>1</span></p>
              <img src="../ranking/images/dvd/01.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19844501/" target="_blank">スター・ウォーズ/スカイウォーカーの夜明け MovieNEX</a></h3>
            <span>デイジー・リドリー</span>
            <span>税込：4,620円</span>
          </div>
        </li>
        <li>
          <div class="thumb dvd">
            <a href="https://www.honyaclub.com/shop/g/g19844505/" target="_blank">
              <p class="ranking_best3 dvd">BEST<span>2</span></p>
              <img src="../ranking/images/dvd/02.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19844505/" target="_blank">スター・ウォーズ/スカイウォーカーの夜明け(数量限定)</a></h3>
            <span>デイジー・リドリー</span>
            <span>税込：3,080円</span>
          </div>
        </li>
        <li>
          <div class="thumb dvd">
            <a href="https://www.honyaclub.com/shop/g/g19846267/" target="_blank">
              <p class="ranking_best3 dvd">BEST<span>3</span></p>
              <img src="../ranking/images/dvd/03.jpg" alt="">
            </a>
          </div>
          <div class="text">
            <h3><a href="https://www.honyaclub.com/shop/g/g19846267/" target="_blank">フォードvsフェラーリ ブルーレイ+DVDセット</a></h3>
            <span>マット・デイモン</span>
            <span>税込：4,400円</span>
          </div>
        </li>
      </ul>
      <a class="more_btn" href="ranking/index.html#dvd">
        <img src="images/ranking_bt.jpg" alt="積文館書店 オススメDVDランキングをもっと見る"/>
      </a>
    </div>
  </div>

  <div id="#game_area">
    <h2><a href="ranking/index.html#book"><img src="images/game_best3.jpg" alt="積文館書店 ゲームソフトランキングBEST3（NINTENDO DS、Wii、PS2、PS3、PSP等）" class="mt-15"/></a></h2>
    <div class="best3_area">
      <ul>
        <li>
          <div class="thumb game">
            <p class="ranking_best3 game">BEST<span>1</span></p>
            <img src="../ranking/images/game/01.jpg" alt="">
          </div>
          <div class="text">
            <h3>あつまれ どうぶつの森</h3>
            <span>ハード：Nintendo Switch</span>
            <span>メーカー：任天堂</span>
          </div>
        </li>
        <li>
          <div class="thumb game">
            <p class="ranking_best3 game">BEST<span>2</span></p>
            <img src="../ranking/images/game/02.jpg" alt="">
          </div>
          <div class="text">
            <h3>ファイナルファンタジーVII リメイク</h3>
            <span>ハード：PS4</span>
            <span>メーカー：スクウェア・エニックス</span>
          </div>
        </li>
        <li>
          <div class="thumb game">
            <p class="ranking_best3 game">BEST<span>3</span></p>
            <img src="../ranking/images/game/03.jpg" alt="">
          </div>
          <div class="text">
            <h3>聖剣伝説3 トライアルズ オブ マナ</h3>
            <span>ハード：PS4</span>
            <span>メーカー：スクウェア・エニックス</span>
          </div>
        </li>
      </ul>
      <a class="more_btn" href="ranking/index.html#game">
        <img src="images/ranking_bt.jpg" alt="積文館書店 オススメゲームソフトランキングをもっと見る"/>
      </a>
		</div>
	</div>
